.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.photo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
}
